<div class="settings-container">
  <div class="text-center mt-4 mb-5">
    <button class="common-btn">Common</button>
  </div>
  <div class="settings">
    <div class="allow-visitors">
      <mat-checkbox color="primary"
        ><span class="check-item">Allow Yetty.app visitors</span></mat-checkbox
      >
    </div>
    <div class="max-seats d-flex justify-content-between mb-4">
      <div>Maximum Seats:</div>
      <div>6</div>
    </div>
    <div class="override-seats d-flex justify-content-between mb-4">
      <div>Override Maximum Seats:</div>
      <div><input type="number" value="5" style="width: 35px" /></div>
    </div>
    <div class="complete-orders">
      <button class="yellow-btn">Complete All Orders</button>
    </div>
    <div>
      <button class="green-btn">Save</button>
    </div>
    <button class="green-btn" routerLink="/tables">Back to Tables</button>
  </div>
</div>
