<ng-container *ngIf="isUserLoggedIn">
  <div class="mail-bar">
    <div class="container h-100">
      <div class="mail-address h-100 d-flex align-items-center">
        mail.yetty-administorator.com
      </div>
    </div>
  </div>

  <div class="header">
    <div class="container" style="position: relative">
      <div class="header-container d-flex justify-content-between">
        <div class="logo-container">
          <img
            style="width: 180px; max-width: 100%"
            src="/assets/images/yetty-logo.png"
            alt="Yetty logo"
          />
        </div>
        <div class="user-info-container">
          <div class="user-info d-flex align-items-center">
            <div
              class="d-flex align-items-center"
              [matMenuTriggerFor]="menu"
              style="cursor: pointer"
            >
              <div class="name text-end">
                <!-- <div>Hello!</div> -->
                <div>{{ user.firstName }} {{ user.lastName }}</div>
              </div>
              <!-- <div class="dp">
                <img src="/assets/images/avatar.png" alt="Avatar" />
              </div> -->
              <div class="dp mx-2 my-4 border border-dark rounded-circle">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="36"
                  height="36"
                  viewBox="0 0 256 256"
                >
                  <path
                    fill="currentColor"
                    d="M230.92 212c-15.23-26.33-38.7-45.21-66.09-54.16a72 72 0 1 0-73.66 0c-27.39 8.94-50.86 27.82-66.09 54.16a8 8 0 1 0 13.85 8c18.84-32.56 52.14-52 89.07-52s70.23 19.44 89.07 52a8 8 0 1 0 13.85-8ZM72 96a56 56 0 1 1 56 56a56.06 56.06 0 0 1-56-56Z"
                  ></path>
                </svg>
              </div>
              <mat-menu
                #menu="matMenu"
                xPosition="after"
                yPosition="below"
                overlapTrigger="false"
                menuAlign="start"
              >
                <button mat-menu-item routerLink="account">
                  <mat-icon>person</mat-icon>
                  <span>My Profile</span>
                </button>
                <button mat-menu-item routerLink="change-password">
                  <mat-icon>key</mat-icon>
                  <span>Change Password</span>
                </button>
                <button (click)="logOut()" mat-menu-item>
                  <mat-icon>logout</mat-icon>
                  <span>Log Out</span>
                </button>
              </mat-menu>
            </div>
            <div
              class="notification"
              (click)="
                notificationContainer.style.transform = 'scale(1)';
                notificationOverlay.style.display = 'block'
              "
            >
              <img
                src="/assets/images/icons/notification.svg"
                alt="Notification"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="notification-container" #notificationContainer>
        <div class="d-flex justify-content-between">
          <div style="font-size: 18px; font-weight: 500">Service Requests</div>
        </div>
        <mat-divider></mat-divider>
        <div class="notification-list">
          <div class="notification mt-4">
            <div class="d-flex align-items-center">
              <div class="notification-detail">
                <div>Floor 1 / table 2</div>
                <div>Mike</div>
              </div>
            </div>
            <div class="notification-time">
              <button class="green-btn">Complete</button>
            </div>
          </div>
          <div class="notification mt-4">
            <div class="d-flex align-items-center">
              <div class="notification-detail">
                <div>Floor 1 / table 2</div>
                <div>Mike</div>
              </div>
            </div>
            <div class="notification-time">
              <button class="green-btn">Complete</button>
            </div>
          </div>
          <div class="notification mt-4">
            <div class="d-flex align-items-center">
              <div class="notification-detail">
                <div>Floor 1 / table 2</div>
                <div>Mike</div>
              </div>
            </div>
            <div class="notification-time">
              <button class="green-btn">Complete</button>
            </div>
          </div>
          <div class="notification mt-4">
            <div class="d-flex align-items-center">
              <div class="notification-detail">
                <div>Floor 1 / table 2</div>
                <div>Mike</div>
              </div>
            </div>
            <div class="notification-time">
              <button class="green-btn">Complete</button>
            </div>
          </div>
        </div>
        <div class="sound"><mat-icon>volume_up</mat-icon></div>
      </div>
    </div>
  </div>
  <div
    class="notification-overlay"
    #notificationOverlay
    (click)="
      notificationContainer.style.transform = 'scale(0)';
      notificationOverlay.style.display = 'none'
    "
  ></div>
  <div
    class="container-fluid"
    style="
      background: url(/assets/images/restaurant-img.png);
      min-height: 400px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: relative;
    "
  >
    <div class="restaurant-name">CRAZY POTATO</div>
  </div>
</ng-container>
