<div class="payments-container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
      <div class="green-wrapper">
        <div class="text-center mt-4 mb-5">
          <button class="black-btn">Pending Payments</button>
          <div class="customer-payment-detail mt-5 mb-5">
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                <div class="customer--dish">
                  <div class="customer mb-3">Mike Brad</div>
                  <div class="dish yellow">Beef Steak</div>
                  <div class="dish yellow">French Fries</div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                <div class="payment yellow">BNG 124.1</div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                <div class="method--customer yellow">
                  <div class="payment-method mb-3">In Cash</div>
                  <div class="customers-name yellow">Mike L</div>
                  <div class="customers-name yellow">John Wick</div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                <div class="sort--dish-price yellow">
                  <div class="sort mb-3">
                    <img src="/assets/images/icons/sort.svg" alt="" />
                  </div>
                  <div class="price yellow">BNG 3.6</div>
                  <div class="price yellow">BNG 8.6</div>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-evenly mt-4">
              <button class="green-btn">Complete</button>
              <button class="yellow-btn">Decline</button>
            </div>
          </div>
          <div class="customer-payment-detail mt-5 mb-5">
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                <div class="customer--dish">
                  <div class="customer mb-3">Mike Brad</div>
                  <div class="dish yellow">Beef Steak</div>
                  <div class="dish yellow">French Fries</div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                <div class="payment yellow">BNG 124.1</div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                <div class="method--customer yellow">
                  <div class="payment-method mb-3">In Cash</div>
                  <div class="customers-name yellow">Mike L</div>
                  <div class="customers-name yellow">John Wick</div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                <div class="sort--dish-price yellow">
                  <div class="sort mb-3">
                    <img src="/assets/images/icons/sort.svg" alt="" />
                  </div>
                  <div class="price yellow">BNG 3.6</div>
                  <div class="price yellow">BNG 8.6</div>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-evenly mt-4">
              <button class="green-btn">Complete</button>
              <button class="yellow-btn">Decline</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
      <div class="green-wrapper">
        <div class="text-center mt-4 mb-5">
          <button class="black-btn">Completed Payments</button>
        </div>
        <div class="customer-payment-detail mt-5 mb-5">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-3">
              <div class="customer--dish">
                <div class="customer mb-3">Mike Brad</div>
                <div class="dish yellow">Beef Steak</div>
                <div class="dish yellow">French Fries</div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-3">
              <div class="payment yellow">BNG 124.1</div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-3">
              <div class="method--customer yellow">
                <div class="payment-method mb-3">In Cash</div>
                <div class="customers-name yellow">Mike L</div>
                <div class="customers-name yellow">John Wick</div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-3">
              <div class="sort--dish-price yellow">
                <div class="sort mb-3">
                  <img src="/assets/images/icons/sort.svg" alt="" />
                </div>
                <div class="price yellow">BNG 3.6</div>
                <div class="price yellow">BNG 8.6</div>
              </div>
            </div>
          </div>
        </div>
        <div class="customer-payment-detail mt-5 mb-5">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-3">
              <div class="customer--dish">
                <div class="customer mb-3">Mike Brad</div>
                <div class="dish yellow">Beef Steak</div>
                <div class="dish yellow">French Fries</div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-3">
              <div class="payment yellow">BNG 124.1</div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-3">
              <div class="method--customer yellow">
                <div class="payment-method mb-3">In Cash</div>
                <div class="customers-name yellow">Mike L</div>
                <div class="customers-name yellow">John Wick</div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-3">
              <div class="sort--dish-price yellow">
                <div class="sort mb-3">
                  <img src="/assets/images/icons/sort.svg" alt="" />
                </div>
                <div class="price yellow">BNG 3.6</div>
                <div class="price yellow">BNG 8.6</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="green-btn" routerLink="/tables">Back to Tables</button>
</div>
