<div class="page-heading text-center mt-5 mb-5">Tables</div>
<!-- radio btns -->
<div class="container mb-4">
    <div class="radio-btns">
        <mat-radio-group aria-label="Select an option" [(ngModel)]="selectedTable" color="primary" >
            <div class="radio-btn-container">
                <mat-radio-button value="my">My Tables</mat-radio-button>
            </div>
            <div class="radio-btn-container">
                <mat-radio-button value="all">All Tables</mat-radio-button>
            </div>
          </mat-radio-group>
    </div>
</div>
<div class="container">
    <div class="floors mb-5">
        <div class="floor-number mb-5">
            Floor 1
        </div>
        <div class="floor-detail">
            <div class="row mb-4">
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                    <div class="detail">
                        <div class="table-icon">
                            <img src="/assets/images/icons/circle.svg" alt="">
                        </div>
                        <div class="table-info" routerLink="/table-detail">Table 1</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                    <div class="detail">
                        <div class="table-icon">
                            <img src="/assets/images/icons/customers.svg" alt="">
                        </div>
                        <div class="table-info">2/6</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                    <div class="detail">
                        <div class="table-icon">
                            <img src="/assets/images/icons/dishes.svg" alt="">
                        </div>
                        <div class="table-info">2/6</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                    <div class="detail">
                        <div class="table-icon">
                            <img src="/assets/images/icons/payments.svg" alt="">
                        </div>
                        <div class="table-info">1/2</div>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                    <div class="detail">
                        <div class="table-icon">
                            <img src="/assets/images/icons/circle.svg" alt="">
                        </div>
                        <div class="table-info">Table 1</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                    <div class="detail">
                        <div class="table-icon">
                            <img src="/assets/images/icons/customers.svg" alt="">
                        </div>
                        <div class="table-info">2/6</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                    <div class="detail">
                        <div class="table-icon">
                            <img src="/assets/images/icons/dishes.svg" alt="">
                        </div>
                        <div class="table-info">2/6</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                    <div class="detail">
                        <div class="table-icon">
                            <img src="/assets/images/icons/payments.svg" alt="">
                        </div>
                        <div class="table-info">1/2</div>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                    <div class="detail">
                        <div class="table-icon">
                            <img src="/assets/images/icons/circle.svg" alt="">
                        </div>
                        <div class="table-info">Table 1</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                    <div class="detail">
                        <div class="table-icon">
                            <img src="/assets/images/icons/customers.svg" alt="">
                        </div>
                        <div class="table-info">2/6</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                    <div class="detail">
                        <div class="table-icon">
                            <img src="/assets/images/icons/dishes.svg" alt="">
                        </div>
                        <div class="table-info">2/6</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                    <div class="detail">
                        <div class="table-icon">
                            <img src="/assets/images/icons/payments.svg" alt="">
                        </div>
                        <div class="table-info">1/2</div>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                    <div class="detail">
                        <div class="table-icon">
                            <img src="/assets/images/icons/circle.svg" alt="">
                        </div>
                        <div class="table-info">Table 1</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                    <div class="detail">
                        <div class="table-icon">
                            <img src="/assets/images/icons/customers.svg" alt="">
                        </div>
                        <div class="table-info">2/6</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                    <div class="detail">
                        <div class="table-icon">
                            <img src="/assets/images/icons/dishes.svg" alt="">
                        </div>
                        <div class="table-info">2/6</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                    <div class="detail">
                        <div class="table-icon">
                            <img src="/assets/images/icons/payments.svg" alt="">
                        </div>
                        <div class="table-info">1/2</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="floors mb-5">
        <div class="floor-number mb-5">
            Floor 1
        </div>
        <div class="floor-detail">
            <div class="row mb-4">
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                    <div class="detail">
                        <div class="table-icon">
                            <img src="/assets/images/icons/circle.svg" alt="">
                        </div>
                        <div class="table-info">Table 1</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                    <div class="detail">
                        <div class="table-icon">
                            <img src="/assets/images/icons/customers.svg" alt="">
                        </div>
                        <div class="table-info">2/6</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                    <div class="detail">
                        <div class="table-icon">
                            <img src="/assets/images/icons/dishes.svg" alt="">
                        </div>
                        <div class="table-info">2/6</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                    <div class="detail">
                        <div class="table-icon">
                            <img src="/assets/images/icons/payments.svg" alt="">
                        </div>
                        <div class="table-info">1/2</div>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                    <div class="detail">
                        <div class="table-icon">
                            <img src="/assets/images/icons/circle.svg" alt="">
                        </div>
                        <div class="table-info">Table 1</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                    <div class="detail">
                        <div class="table-icon">
                            <img src="/assets/images/icons/customers.svg" alt="">
                        </div>
                        <div class="table-info">2/6</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                    <div class="detail">
                        <div class="table-icon">
                            <img src="/assets/images/icons/dishes.svg" alt="">
                        </div>
                        <div class="table-info">2/6</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                    <div class="detail">
                        <div class="table-icon">
                            <img src="/assets/images/icons/payments.svg" alt="">
                        </div>
                        <div class="table-info">1/2</div>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                    <div class="detail">
                        <div class="table-icon">
                            <img src="/assets/images/icons/circle.svg" alt="">
                        </div>
                        <div class="table-info">Table 1</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                    <div class="detail">
                        <div class="table-icon">
                            <img src="/assets/images/icons/customers.svg" alt="">
                        </div>
                        <div class="table-info">2/6</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                    <div class="detail">
                        <div class="table-icon">
                            <img src="/assets/images/icons/dishes.svg" alt="">
                        </div>
                        <div class="table-info">2/6</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                    <div class="detail">
                        <div class="table-icon">
                            <img src="/assets/images/icons/payments.svg" alt="">
                        </div>
                        <div class="table-info">1/2</div>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                    <div class="detail">
                        <div class="table-icon">
                            <img src="/assets/images/icons/circle.svg" alt="">
                        </div>
                        <div class="table-info">Table 1</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                    <div class="detail">
                        <div class="table-icon">
                            <img src="/assets/images/icons/customers.svg" alt="">
                        </div>
                        <div class="table-info">2/6</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                    <div class="detail">
                        <div class="table-icon">
                            <img src="/assets/images/icons/dishes.svg" alt="">
                        </div>
                        <div class="table-info">2/6</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                    <div class="detail">
                        <div class="table-icon">
                            <img src="/assets/images/icons/payments.svg" alt="">
                        </div>
                        <div class="table-info">1/2</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="floors mb-5">
        <div class="floor-number mb-5">
            Floor 1
        </div>
        <div class="floor-detail">
            <div class="row mb-4">
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                    <div class="detail">
                        <div class="table-icon">
                            <img src="/assets/images/icons/circle.svg" alt="">
                        </div>
                        <div class="table-info">Table 1</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                    <div class="detail">
                        <div class="table-icon">
                            <img src="/assets/images/icons/customers.svg" alt="">
                        </div>
                        <div class="table-info">2/6</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                    <div class="detail">
                        <div class="table-icon">
                            <img src="/assets/images/icons/dishes.svg" alt="">
                        </div>
                        <div class="table-info">2/6</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                    <div class="detail">
                        <div class="table-icon">
                            <img src="/assets/images/icons/payments.svg" alt="">
                        </div>
                        <div class="table-info">1/2</div>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                    <div class="detail">
                        <div class="table-icon">
                            <img src="/assets/images/icons/circle.svg" alt="">
                        </div>
                        <div class="table-info">Table 1</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                    <div class="detail">
                        <div class="table-icon">
                            <img src="/assets/images/icons/customers.svg" alt="">
                        </div>
                        <div class="table-info">2/6</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                    <div class="detail">
                        <div class="table-icon">
                            <img src="/assets/images/icons/dishes.svg" alt="">
                        </div>
                        <div class="table-info">2/6</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                    <div class="detail">
                        <div class="table-icon">
                            <img src="/assets/images/icons/payments.svg" alt="">
                        </div>
                        <div class="table-info">1/2</div>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                    <div class="detail">
                        <div class="table-icon">
                            <img src="/assets/images/icons/circle.svg" alt="">
                        </div>
                        <div class="table-info">Table 1</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                    <div class="detail">
                        <div class="table-icon">
                            <img src="/assets/images/icons/customers.svg" alt="">
                        </div>
                        <div class="table-info">2/6</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                    <div class="detail">
                        <div class="table-icon">
                            <img src="/assets/images/icons/dishes.svg" alt="">
                        </div>
                        <div class="table-info">2/6</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                    <div class="detail">
                        <div class="table-icon">
                            <img src="/assets/images/icons/payments.svg" alt="">
                        </div>
                        <div class="table-info">1/2</div>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                    <div class="detail">
                        <div class="table-icon">
                            <img src="/assets/images/icons/circle.svg" alt="">
                        </div>
                        <div class="table-info">Table 1</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                    <div class="detail">
                        <div class="table-icon">
                            <img src="/assets/images/icons/customers.svg" alt="">
                        </div>
                        <div class="table-info">2/6</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                    <div class="detail">
                        <div class="table-icon">
                            <img src="/assets/images/icons/dishes.svg" alt="">
                        </div>
                        <div class="table-info">2/6</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                    <div class="detail">
                        <div class="table-icon">
                            <img src="/assets/images/icons/payments.svg" alt="">
                        </div>
                        <div class="table-info">1/2</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>